# Data/results
#/data/raw/*
#/data/processed/*
!/data/raw/.gitkeep
!/data/processed/.gitkeep
/results/lr/*
/results/lr_pcs/*
/results/lmm/*
/results/plots/*
/results/sim/*
!/results/lr/.gitkeep
!/results/lr_pcs/.gitkeep
!/results/lmm/.gitkeep
!/results/plots/.gitkeep
!/results/sim/.gitkeep

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/
